body {
    /* blue background: #7dc6ed ; */ 
    /* green background: rgb(172, 217, 165)  ; ; */ 
    /* red background: #ED8C8C  ;*/ 
    /* white background-color:#fff;  */ 
    background-color:#7dc6ed;
}