<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/stylesheets/blue.css">
  </head>
  <body>
  <h1 align="Center">Database Content : {{  object_name }}</h1>
   <table align="center" border="2" width="auto">
           <thead>
            <tr>
                {% for column in columns %}
                <th> {{ column }} </th>
                {% endfor %}
            </tr>
           </thead>
           <tbody>
            {% for entry in entries %}
            <tr>
                {% for column in columns %}
                <td> {{ entry[column] }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
           </tbody>
         </table>
  </body>
</html>

