
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="../static/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/stylesheets/thumbnail-gallery.css" rel="stylesheet">
    <link href="../static/stylesheets/mouseover.css" rel="stylesheet">
    <link href="../static/stylesheets/table.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Database Content : {{  object_name }} - Images</h1>
            </div>
            {% for entry in entries %}
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <span class="field-tip">
                            <img class="img-responsive" src={{ entry['image__c'] }} alt="">
                            <span class="tip-content">{{ entry['description'] }}</span>
                        </span>
                    </a>
                    <div>
                        <p> {{ entry.name }} </p>
                    </div>
                </div>
            {% endfor %}
            
        </div>

        <hr>

        <h1>Database Content : {{  object_name }} - Raw content </h1>
        <table align="center" border="2" width="auto">
            <thead>
             <tr>
                 {% for column in columns %}
                 <th> {{ column }} </th>
                 {% endfor %}
             </tr>
            </thead>
            <tbody>
             {% for entry in entries %}
             <tr>
                 {% for column in columns %}
                 <td> {{ entry[column] }} </td>
                 {% endfor %}
             </tr>
             {% endfor %}
            </tbody>
          </table>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                        <p>Ugliest web application - 2017 - <a href="mailto:arieunier@salesforce.com?Subject=Hello%20again" target="_top">Contact</a></p>
                </div>
            </div>
        </footer>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>



</body>

</html>
